input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type="currency"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.center {
  position: relative;
  margin: auto;
}
.txt-center {
  text-align: center;
}

.bold {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0.2em;
}

input[type="submit"],
.btn {
  background-color: #6f4caf;
  color: white;
  padding: 12px 20px;
  border: none;
  margin: 0.2em;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"] {
  float: right;
}

.container {
  width: 700px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2d7;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
